.stock-image{
    width: 4rem;
    margin-right: 2rem;
}

.askprice {
    font-size: 1.8rem;
    font-weight: 700;
}

.bidprice {
    font-size: 1.4rem;
}

.green {
    color: green;
}

.red {
    color: red;
}