.heading {
    font-weight: 700;
    font-size: 4rem;
}

.sub-heading {
    font-weight: 600;
    font-size: 2rem !important;
    text-transform: uppercase;
}

.home {
    padding-top: 10rem;
}

ul {
    width: 100%;

    li {
        margin-bottom: 1.6rem;
    }
}